.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  display: flex;
  background-color: 	#008080;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Kufam', cursive;
}

div ul {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  list-style: none;
}
div ul li {
  display: inline-block;
  padding: 0.5em;
  color: white;
  margin-right: 10px;
}
div ul li:hover {
  background-color:crimson;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}


.confirm_btn {
  height: 35px;
  align-self: center;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;

}
.confirm_btn:hover {
  cursor: pointer;
  background-color:crimson;
  color: white;
  font-weight: bold;
}

.logOut_btn{
  height: 35px;
  align-self: center;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
}

.logOut_btn:hover {
  cursor: pointer;
  background-color:crimson;
  color: white;
  font-weight: bold;
}

.is-active {
  background-color:crimson;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.texto {
  display: inline;
  color: white;
}
.right{
 align-self: center;
}
