<div class="container">
  <div class="wrapper">
    <form #blogForm="ngForm">
      <div class="form-group">
        <label>Title</label>
        <div>
          <input
            type="text"
            placeholder="Ex Mannen bakom corona"
            required
            minlength="10"
            maxlength="20"
            [(ngModel)]="model.title"
            name="title"
            #title="ngModel"
          />
          <div
            *ngIf="title.invalid && (title.dirty || title.touched)"
            class="alert"
          >
            <div *ngIf="title.errors.required">You have to enter a title!</div>

            <div *ngIf="title.errors.minlength">minimum 10 characters!</div>
          </div>
        </div>

        <label>Content</label>
        <div>
          <textarea
            cols="20"
            rows="5"
            required
            [(ngModel)]="model.content"
            name="content"
            #content="ngModel"
          ></textarea>
        </div>

        <label>Time to read in minutes</label>
        <div>
          <input
            type="text"
            placeholder="Ex (20)"
            required
            [(ngModel)]="model.readtime"
            name="readtime"
            #readtime="ngModel"
          />
        </div>

        <label>The author</label>
        <div>
          <input
            type="text"
            placeholder="Ex Pontus 'Z' Zetterberg"
            [(ngModel)]="model.author"
            name="author"
            #author="ngModel"
          />
        </div>
      </div>
    </form>
  </div>
  <button [disabled]="blogForm.invalid" (click)="publishArticle()">
    Publish
  </button>
</div>
