button {
  height: 35px;
  align-self: center;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 20px;
  padding-bottom: 5px;
}
button:hover {
  cursor: pointer;
  background-color:crimson;
  color: white;
  font-weight: bold;
}

