.main_container{
  color: white;
  width: 80%;
  margin: 0 auto;
  font-family: 'Kufam', cursive;
  position: relative;
}

.topic{
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Kufam', cursive;
}

.sub_box{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

}

.pp{
  color: teal;
}
